html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #3B4252;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-weight: 400;
    margin: 0;
    padding-bottom: 6rem;
    position: relative;
    padding-right: 0 !important;
    min-height: 100%;
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #C9C6C1 #EAEAEA;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #C9C6C1;
}

*::-webkit-scrollbar-thumb {
    background-color: #7D8491;
    border-radius: 10px;
    border: 3px solid #C9C6C1;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.row {
    width: 100%;
    margin: auto;
}

#view_wrapper div:first-child {
    margin: auto;
}

.rarity {
    font-weight: 600;
}

.Common {
    color: #9e9e9e;
}

.Uncommon {
    color: #4caf50;
}

.Rare {
    color: #2196f3;
}

.Epic {
    color: #9c27b0;
}

.Legendary {
    color: #ff5722;
}

.dataTables_length, .dataTables_filter {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dataTables_filter input {
    width: 25vw !important;
    height: 40px;
    margin: auto !important;
}

.dataTables_info {
    padding-bottom: 0.5rem;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.table-icon {}

.table-name {
    min-width: 100px;
}

.table-rarity {}

.table-description {}

td {
    cursor: pointer;
}

.dataTables_info {
    margin-bottom: 1rem;
}

.paginate_button a {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

a {
    color: #5E81AC;
    text-decoration: none;
}

table.dataTable {
    font-size: 0.7rem;
}

.last-updated {
    font-size: 0.7rem;
}

.bg-nord-light {
    background-color: #ECEFF4;
}

.bg-nord-dark {
    background-color: #2E3440;
}

.text-nord-light {
    color: #ECEFF4 !important;
}

.global-text-color {
    color: #3B4252;
}

.filterRarity {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.dataTables_filter {
    text-align: right;
}

.page-item.active .page-link {
    color: #ECEFF4;
    background-color: #3B4252;
    border-color: #3B4252;
}

.page-link {
    color: #3B4252;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#view_filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#showDetailsDescription {
    font-size: 0.9rem;
}

#button {
    display: inline-block;
    background-color: #7D8491;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 576px) {
    .dataTables_filter input {
        width: 80vw !important;
        margin: auto !important;
    }

    .container-xl {
        padding: 0 !important;
    }
}
