<div id="showDetails" class="modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="showDetailsTitle"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="showDetailsBody" class="modal-body">
                <div id="showDetailsRarity"></div>
                <p id="showDetailsDescription"></p>
            </div>
        </div>
    </div>
</div>
