<a id="button"></a>

<div class="header bg-nord-dark mb-2 p-1">
    <nav class="navbar navbar-expand-sm">
        <div class="container-xl">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <p class="nav-item mr-3 text-right my-auto text-right last-updated text-nord-light"><?php echo $_ENV["SITE_TITLE"];?></p>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item ml-auto">
                    <p class="nav-item mr-3 text-right my-auto last-updated text-nord-light"><?php echo $_ENV["NAV_LAST_UPDATE"];?>: <?php echo $_ENV["NAV_LAST_UPDATE_DATE"];?></p>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="filterRarity container d-flex justify-content-between align-items-center p-3 mb-3">
    <a href="/">All</a>
    <a href="lego" class="Legendary"><?php echo $_ENV["NAV_LEGO"];?></a>
    <a href="epic" class="Epic"><?php echo $_ENV["NAV_EPIC"];?></a>
    <a href="rare" class="Rare"><?php echo $_ENV["NAV_RARE"];?></a>
    <a href="uncommon" class="Uncommon"><?php echo $_ENV["NAV_UNCOMMON"];?></a>
</div>
